*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
}

button{
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 5%;
    background-color: #66a5ec;
    border: none;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
}


input{
    width: 100%;
    height: 30px;
    position: relative;
    border-bottom: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

p{
    position: relative;
    text-align: left;
}

.reg{
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 5%;
    background-color: #66a5ec;
    border: none;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
}

.log{
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 5%;
    background-color: #66a5ec;
    border: none;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
}

.botones{
    position: relative;
    top: 30px;    
    display: inline-flex;    
    left: 40%;
}
.hdr{
    background-color: #4fb142;
    position: relative;
    width: 100%;
    height: 200px;
}

.bg1{
    width: 100px;
    height: 100px;
    position: relative;    
}

.logo{
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.txt{    
    position: relative;
    margin: 1rem auto;
    text-align: center;
    width: 20%;
    height: auto;
}

<<<<<<< HEAD
/*.pass{
    position: relative;
    right: 50%;
}*/
=======
/* .pass{
    position: relative;
    right: 50%;
} */
>>>>>>> 6d3d89d04597a895c66c7d9352f4d319ea1eec11
