body{
    background-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Helvetica;
}
.green{
    background: #00CA36;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    float: left;
}
input, label {
    display:block;
}

.cuadrado{
height: 60%;
width: 40%;
border-radius: 5%;
padding: 80px 40px;
display: block;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin-bottom: 30px;
}
.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: white;
    padding: 0 5px;
    height: 30px;
    display: block;
}
.focus + span::before{
    top: -5px;
}
.focus + span::after{
    width: 100%;
    bottom: -2px;
    left:0;
}
.logbtn{
    display: block;
}
button{
    position: relative;
}
button{
    background: #4db8ff;
    color: white;
    width: 100%;
    height: 50px;
    border: 1px ;
    font-size: 20px;
    overflow: hidden;
    transition: .6s;
    margin-top: 30px;;
}
/*button:focus{
    outline: none;
}

button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgb(255, 255, 255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: rotateX(-130px) skewX(-15deg);
}
button::after{
    content: '';
    display: block;
    position: absolute;
    background: rgb(255, 255, 255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}
button:hover{
    background: #3e413e;
    cursor: pointer;
}
button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}
button:hover::after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}*/

.sub{
    width: 150px;
    height: 60px;
    border-radius: 5%;
    background-color: #66a5ec;
    border: none;
    color: white;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}